{% extends 'base.html' %}

{% load filters %}

{% block title %}{{ book.name }}{% endblock %}

{% block content %}

<div class="container mt-3">

    <form action="#" method="post">
        {% csrf_token %}

        <p>
            <h6>Book Name:</h6>
            <input style="width: 40%;" class="form-control" type="text" 
                value="{{ book.name }}"
            >
        </p>

        <p>
            <h6>Author:</h6>
            <input style="width: 40%;" class="form-control" type="text" 
                value="{{ book.author }}"
            >
        </p>

        <p>
            <h6>Co-author:</h6>
            <input style="width: 40%;" class="form-control" type="text" 
                value="{{ book.co_author }}"
            >
        </p>

        <p>
            <h6>Registration Date: </h6>
            <input style="width: 40%;" class="form-control" type="text" 
                value="{{ book.registration_date }}"
            >        
        </p>

        <h6>Category:</h6>
        <select class="form-select mb-4" style="width:20%;" name="category">
            {% for category in category_book %}
                {% if category.name == book.category.name %}
                    <option selected>{{ category }}</option>
                {% else %}
                    <option>{{ category }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <div>
                <h5>Borrowed &nbsp;       
                {% if book.borrowed %}   
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked
                        style="transform:scale(1.0);"
                    >
                {% else %}
                    <input class="form-check-input" type="checkbox" name="rented"                   
                        id="flexCheckDefault"  style="transform: scale(1.0);"
                    >                             
                {% endif %}
            </h5>
        </div>

        <button class="btn btn-success mt-3">Save</button>

    </form>

    <hr class="mt-5">
    <h3>Borrowing History</h3>
    <table class="table table-striped mb-5 mt-4">
        <thead>
            <tr>                
                <th scope="col">Name</th>
                <th scope="col">Date Borrowed</th>            
                <th scope="col">Date Devolution</th>
                <th scope="col">Time Duration</th>            
            </tr>
        </thead>
        <tbody>
            {% for b in borrowing %}
                <tr>
                    {% if b.name_borrowed_anonymous == None %}
                        <th scope="row">{{ b.name_borrowed }}</th>
                    {% else %}
                        <th scope="row">{{ b.name_borrowed_anonymous }}</th>
                    {% endif %}
                    <td>{{ b.date_borrowed }}</td>
                    <td>{{ b.date_devolution }}</td>                    
                    <td>{{ b.date_devolution|time_duration:b.date_borrowed }} days</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}